
.tech-cover{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('/assets/technology/background-technology-desktop.jpg');
}

.tech-container{
    display: flex;
    justify-content: space-evenly;
    margin: 12.5rem auto;
    padding: 2rem;
    z-index: 200;
}

.tech-left-section{
    display: flex;
    flex-direction: column;
    max-width: 400px;

}

.tech-left-section h1, h2, p{
    color: rgb(154, 152, 152);
}

.tech-left-bottom{
    display: flex;
    vertical-align: top;
}

.tech-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1.875em;
}

.tech-buttons button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 2.5em;
    width: 2.5em;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    padding-left: 0.938em ;
    background-color: transparent;
    color: white;
}

.tech-button:hover{
    background-color: white;
    color: black;
}

.tech-button.active{
    background-color: white;
    color: black;
    cursor: default;
} 

.tech-center-section{
    max-width: 400px;
}

.tech-section-right{
    padding: 0px;
    width: 50%;
}

.tech-image{
    width: 100%;
    border: none;
    border-radius: 20px;
}

@media screen and (max-width: 480px) { 
    .tech-cover{
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }

    .tech-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 96%;
        padding: 0px;
        margin: 18rem auto 0px auto;
    }
    
    .tech-left-section{
        width: 100%;
        min-width: 240px;
    }

    .tech-section-right{
        width: 80%;
    }
}
