
.crew-cover{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('/assets/crew/background-crew-desktop.jpg');
}

.crew-container{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    margin-top: 100px;
    z-index: 200;
}

.crew-left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.crew-left-side h1, h3, h2, span{
    color: rgb(154, 152, 152);
}

.crew-buttons{
    display: flex;
    margin-top: 30px;
}

.crew-button{
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
    background-color: rgb(154, 152,152);
}

.crew-button:hover{
    background-color: white;
}

.crew-button.active{
    background-color: white;
    border-radius: 2px;
}

.crew-right-side{
    height: auto;

}

.crew-image{
    height: 100%;
}
